
<!DOCTYPE html>
<html>
<title>AC SERVE | DOMAINS </title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<body>
<style>
a.button:link, a.button:visited{
  background-color: #FFFF00;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
  
</style>

<body style="background-color:black;font-family:courier,arial,helvetica;color:yellow;">


<center>

<h1> AIDAN COMI</h1>
<h2> DOMAINS </h2>

<script>

var domains = ["aidancomi.com", "aidancomi.net", "aidancomi.us", "aidanc.me", "aidanc.xyz", "aidanc.tech", "aidanc.dev", "aidan.ninja"];


var i = 0;
while(i < domains.length)
{
document.write('<p>'+domains[i]+'</p> <a class="button" href="http://'+domains[i]+'" target="_blank">http</a>\n<a class="button" href="https://'+domains[i]+'" target="_blank">https</a>\n<a class="button" href="http://www.'+domains[i]+'" target="_blank">http www</a>\n<a class="button" href="https://www.'+domains[i]+'" target="_blank">https www</a>\n');
i++;
}

</script>
</center>
</body>
</html>
